body{
  background-color: rgb(37, 37, 37);
}

/* 卡片组件的样式 */
.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

.box-card {
  width: 480px;
}

/* 登录框的居中： 水平和垂直正中 */
.el-card{
    height: 300px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* 标题 */
.el-card__header{
    padding: 5px 20px;
}

.el-card__header h1{
    font-size: 20px;
}

.el-card__header h1 span{
  color: rgb(2, 116, 2);
}
