<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>超市管理系统——商品管理</title>
    <!-- 引入重置样式 -->
    <link rel="stylesheet" href="./stylesheets/reset.css">
    <!-- 引入elementUI -->
    <link rel="stylesheet" href="./stylesheets/elementUI.css">
    <!-- 引入首页样式 -->
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>


<body>
    <div id="app">
        <el-main>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>商品管理</span>
                </div>
                <!-- 内容 -->
                <div class="text item">
                    <span>所属分类：</span>
                    <template>
                        <el-select v-model="value" placeholder="请选择">
                            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                        <span>分类名称：</span>
                        <el-input v-model="input" placeholder="请输入内容"></el-input>
                        <el-button type="primary" plain>查询</el-button><br><br>
                        <el-table :data="tableData" style="width: 100%">
                            <el-table-column prop="date" label="商品条形码" width="180">
                            </el-table-column>
                            <el-table-column prop="name" label="商品名称" width="180">
                            </el-table-column>
                            <el-table-column prop="address1" label="所属分类">
                            </el-table-column>
                            <el-table-column prop="address2" label="售价(元)">
                            </el-table-column>
                            <el-table-column prop="address3" label="促销价(元)">
                            </el-table-column>
                            <el-table-column prop="address4" label="市场价(元)">
                            </el-table-column>
                            <el-table-column prop="address5" label="库存">
                            </el-table-column>
                            <el-table-column prop="address6" label="库存总额(元)">
                            </el-table-column>
                            <el-table-column prop="address7" label="售价总额(元)">
                            </el-table-column>
                            <el-table-column prop="address8" label="管理">
                            </el-table-column>
                        </el-table>
                    </template>
                </div>
                <!-- 引入jq -->
                <script src="./javascripts/jquery.js"></script>
                <!-- 引入vue -->
                <script src="./javascripts/vue.min.js"></script>
                <!-- 引入elementUI -->
                <script src="./javascripts/elementUI.js"></script>
                <script>
                    new Vue({
                        el: "#app",
                        data() {
                            return {
                                options: [{
                                    value: '选项1',
                                    label: '顶级分类'
                                }, {
                                    value: '选项2',
                                    label: '高级分类'
                                }, {
                                    value: '选项3',
                                    label: '中级分类'
                                }, {
                                    value: '选项4',
                                    label: '初级分类'
                                }],
                                value: "",
                                input: "",
                                tableData: [{
                                    date: '123456',
                                    name: '我的优乐美',
                                    address1: '优乐美',
                                    address2: '2.00',
                                    address3:"8.00",
                                    address4:"2.40",
                                    
                                }, {
                                    date: '123456',
                                    name: '海飞丝',
                                    address1: '海飞丝',
                                    address2: '2.00',
                                    address3:"8.00",
                                    address4:"2.40",
                                }, {
                                    date: '123456',
                                    name: '茅台酒',
                                    address1: '茅台酒',
                                    address2: '2.00',
                                    address3:"8.00",
                                    address4:"2.40",
                                }, {
                                    date: '213445',
                                    name: '龙凤呈祥',
                                    address1: '龙凤呈祥',
                                    address2: '2.00',
                                    address3:"8.00",
                                    address4:"2.40",
                                }]
                            }


                        },
                        methods: {

                        }
                    })
                </script>
</body>

</html>